.form_deg{
    /* padding-top: 20%; */

}
.lable_deg{
    display: inline-block;
    color: skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;

}
center{
    padding-top: 7%;
}
.login_form{
    background-color:black;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px; 

}
.title_deg{
    background-color: #26e6e6;
    color: rgb(167, 35, 35);
    text-align: center;
    font-weight:bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}